# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# hoa files
#*.hoa

# csv files
#*.csv

# latex files
*.aux
*.log
*.gz

# compiled program
source_code/2detTELA
source_code/benchmarkA
source_code/benchmarkB
source_code/benchmarkC
source_code/benchmarkD
source_code/benchmarkF
figures/fig_compare_all_time.aux
results/logF
results/logA
results/logB
results/logC
results/logE
results/logD
results/logG
source_code/benchmarkG
*.csv#
